<body>

  <div>
    <mat-form-field>
      <mat-label>Nieuwe gebruiker</mat-label>
      <input matInput [(ngModel)]="nieuweNaam">
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)='AddUserComponent()'> Toevoegen </button>
  
  </div>


  <div>
    <h2>Alle gebruikers</h2>
      <ul class = users>
        <li *ngFor="let user of users" (click)="onSelect(user)">
          {{user.name}}
        </li>
      </ul>
  </div>



<app-user-notes [user]="selectedUser" *ngIf='isereenuser'></app-user-notes>

</body>