<body>
<div>
<!--
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input [(ngModel)]="nieuweNaam">
  </mat-form-field>

  <button mat-stroked-button (click)="AddUserComponent()">Voeg een naam toe: </button>
-->
</div>

<div>
  <h2>Alle gebruikers</h2>
    <ul class = users>
      <li *ngFor="let user of users" (click)="onSelect(user)">
        <span class="badge">{{user.id}}</span> {{user.name}}
      </li>
    </ul>
</div>

<app-user-notes [user]="selectedUser"></app-user-notes>

</body>