<body>
<!--
  <div>
    <p>Nieuwe gebruiker toevoegen</p>
    <mat-form-field>
      <mat-label>Nieuwe gebruiker</mat-label>
      <input [(ngModel)]="nieuweNaam">
    </mat-form-field>
  
    <button mat-stroked-button (click)='AddUserComponent()'> Toevoegen </button>
  
  </div>-->


  <div *ngIf=true>
    <h2>Alle gebruikers</h2>
      <ul class = users>
        <li *ngFor="let user of users" (click)="onSelect(user)">
          <span class="badge">{{user.id}}</span> {{user.name}}
        </li>
      </ul>
  </div>



<app-user-notes [user]="selectedUser"></app-user-notes>

</body>