<div>

    <div *ngIf="user">
        <h2>Notities van {{user.name}}</h2> 
<!--
        <ul class = notes *ngFor='User.user= user'> 
            <li *ngFor="let note of notes">
              <span class="badge">{{note.id}}</span> {{note.note}}
            </li>
          </ul>
        -->

        <mat-form-field>
            <mat-label>Nieuwe notitie</mat-label>
            <input matInput [(ngModel)]="nieuweNotitie">
        </mat-form-field>

        <button mat-stroked-button (click)='AddNoteComponent()'> Toevoegen </button>
    </div>

</div>