<div>

    <div *ngIf="user">
        <h2>Notities van {{user.name}}</h2>      
    </div>

    <!--
    <label>name:
      <input [(ngModel)]="selectedUser.name" placeholder="name"/>
    </label>

      <button mat-stroked-button (click)="AddUserComponent()">Voeg een notitie toe: </button>

      <mat-form-field [style.fontSize]="fontSize.value">
        <mat-label>Autosize textarea</mat-label>
          <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

  -->

</div>